<DBConnections>
    <Connection Name="DBConnection Test">
        <Servers>server10,server01-02</Servers>
        <DataSource>sqlserver01</DataSource>
        <Database>database</Database>
        <UserName>username</UserName>
        <Password>password</Password>
    </Connection>
 </DBConnections>
